#canvasContainer {
    position : absolute;
    display : none;
}

#buttonsDiv {
    position : absolute;
    left : 50%;
    top : 775px;
    transform: translate(-50%, 0%);
}

#canvas, #leftDiv, #controlDiv, #simulateDiv {
    border : 2px solid black;
}
/**
#statesDiv {
    position: absolute;
    padding: 0.5em;
    width: 20%;
}**/

#leftDiv {
    position : absolute;
    width : 20%;
}

#statesDiv {
    padding : 0.5em;
}

.DFA_selectedState {
    background-color: lightblue;
}

.selectedLetter {
    background-color: lightblue;
}

.simulatingLetter {
    background-color: green;
}

#controlDiv, #simulateDiv {
    position: absolute;
    padding : 0.5em;
    left : 80%;
    width : 20%;
}

#controlDiv {
    max-height: 30%;
    overflow: scroll;
}

#simulateDiv {
    top : 35%;  /* All this CSS stuff is temporary...**/
    max-height: 60%;
    overflow-y: scroll;
}

.panelDiv {
    display : none;
}
.activePanel {
    display : block;
}

#leftDiv {
    padding : 0.25em;
}

#statesContainer, #arrowsContainer {
    max-height: 300px;
    overflow-y: scroll;
}

#deltaTbl th, #deltaTbl td {
    border : 2px solid black;
}